Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity. 
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? 
* How many females do we have information for vs how many males?

In [1]:
# Import pandas

In [2]:
import pandas as pd

In [3]:
# Create a DataFrame with balance.txt

In [4]:
df = pd.read_csv('balance.txt', sep = ' ')

In [5]:
#code to compare the average income based on ethnicity

In [6]:
print('The average income based on ethnicity is as follows:\n',df.groupby('Ethnicity')['Income'].mean())

The average income based on ethnicity is as follows:
 Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [7]:
# on average do married or single people have a higher balance

In [8]:
average_married = df.groupby('Married')['Income'].mean()
if average_married['Yes'] > average_married['No']:
    print('After delving into the data provided, Married People, on average, have higher income.')
else:
    print('After delving into the data provided, Single people, on average, have higher income.')

After delving into the data provided, Married People, on average, have higher income.

In [9]:
# This is to show the highest income in our dataset.

In [10]:
print('The Highest income in our dataset is a value of',df['Income'].max())

The Highest income in our dataset is a value of 186.634

In [11]:
# This shows the lowest income in our dataset.

In [12]:
print('The lowest income in our dataset is a value of',df['Income'].min())

The lowest income in our dataset is a value of 10.354

In [13]:
# This shows the sum of cards recorded in our dataset.

In [14]:
print('The total number of cards recorded in our dataset is a value of',df['Cards'].sum())

The total number of cards recorded in our dataset is a value of 1183

In [15]:
# The next part is to show thehow many women and men we have.

In [16]:
print ('The total number of men and women are as follows:\n',df.groupby('Gender')['Gender'].count())

The total number of men and women are as follows:
 Gender
Female    207
Male      193
Name: Gender, dtype: int64